{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Delete Confirmation</h2>
        <p>Are you sure you want to delete code {{ tnved_code.code }} - {{ tnved_code.name }}?</p>

        <form method="post" action="{% url 'delete_code' code=tnved_code.code %}">
            {% csrf_token %}
            <button type="submit" name="confirm_delete" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'remaining_codes' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
